:root {
  --clr-cyan-300: #8FE3F9;
  --clr-cyan-600: #4D96A9;
  --clr-purple-300: #D9B8FF;
  --clr-purple-600: #855FB1;
  --clr-slate-300: #D1D1DF;
  --clr-slate-600: #87879D;
  --clr-slate-900: #28283D;
  --clr-white: #FAFAFA;

  --text-1: 4rem;
  --text-2: 2.5rem;
  --text-3: 1rem;
  --text-3-spacing: 0.25rem;
  --text-4: 1.125rem;
  --text-5: 1rem;

  --spacing-50: 0.25rem;
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
  --spacing-900: 4.5rem;
  --spacing-1000: 5rem;
  --spacing-1400: 7rem;

  --hero-bg: rgb(77 150 168 / 0.9);
  --hero-gradient: linear-gradient(var(--hero-bg), var(--hero-bg));
  --offset-top: calc(var(--spacing-1000) + (var(--spacing-700) / 2));
  --overlap-offset-top: calc(-1 * var(--offset-top)); 
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
p,
body {
  margin: 0;
  padding: 0;
}

body {
  background-origin: var(--clr-white);
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
}

button {
  font-family: inherit;
  padding: var(--spacing-200) var(--spacing-500);
  font-weight: 900;
  border-radius: 1.8125rem;
  border: 0;
  line-height: 1.5;
  color: var(--clr-white);
  background-color: var(--bg-color);
}

button.btn-purple {
  --bg-color: var(--clr-purple-600);
}

.btn-purple span {
  color: var(--clr-purple-300);
}

.btn-green {
  --bg-color: var(--clr-cyan-600);
}

.btn-green span {
  color: var(--clr-cyan-300);
}

img {
  display: block;
  width: 100%;
}

nav {
  background-color: var(--clr-cyan-300);
  padding-top: clamp(3rem, 4.5vw, var(--spacing-1000));
}

.nav-logo img {
  margin-inline: auto;
  width: auto;
}

.left-hero,
.right-hero {
  display: none;
}

.tablet-hero {
  padding-top: var(--spacing-800);
  padding-bottom: 3rem;
}

.round-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.round-sec-text {
  width: var(--spacing-700);
  height: var(--spacing-700);
  border-radius: 50%;
  border: 1px solid var(--clr-slate-300);
  background-color: var(--clr-white);
  color: var(--clr-slate-600);
  font-weight: 900;

  display: flex;
  justify-content: center;
  align-items: center;
}

.round-sec-line {
  width: 0.0625rem;
  height: var(--spacing-1000);
  background-color: var(--clr-slate-300);
}

.hero-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-200);
}

.content-grid {
  display: grid;
  grid-template-columns:
    [full-start] 1fr
    [content-start] repeat(2, var(--spacing-800))
    repeat(2, var(--spacing-800)) [content-end]
    1fr [full-end];
  gap: var(--spacing-200);
}

.content-grid > * {
  grid-column: content;
}

.content-grid > .full-w {
  grid-column: full;
}

footer {
  --bg-url: url('./assets/mobile/image-footer.jpg');
  background: 
    var(--hero-gradient),
    var(--bg-url) 0 0 / cover no-repeat;
  padding: var(--spacing-800) var(--spacing-400);
  color: var(--clr-white);
  position: relative;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}

.round-sec.overlap {
  position: absolute;
  content: "";
  top: var(--overlap-offset-top);
  left: calc(50% - var(--spacing-400));
}

h1 {
  font-size: clamp(var(--text-2), 1.6rem + 2.25vw, var(--text-1));
  color: var(--clr-slate-900);
  font-weight: 900;
}

p:not(.footer-content > p) {
  color: var(--clr-slate-600);
  font-weight: 500;
}

.hero-text > *+* {
  margin-top: var(--spacing-300);
}

.hero {
  margin-bottom: var(--spacing-400);
}

h2 {
  font-size: 2rem;
  font-weight: 900;
}

h3 {
  font-size: 0.75rem;
  font-weight: 900;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: var(--clr-cyan-600);
}

main h2 {
  color: var(--clr-slate-900);
  margin-top: var(--spacing-200);
  margin-bottom: var(--spacing-400);
}

main {
  margin-bottom: calc(var(--offset-top) + var(--spacing-800));
}

.image-gallery {
  margin-top: var(--spacing-800);
  margin-bottom: var(--spacing-800);
  display: flex;
  flex-wrap: wrap;
  gap: var(--spacing-200);
}

.image-gallery > img {
  border-radius: 0.5em;
  width: calc(50% - var(--spacing-200) / 2);
}


@media (min-width: 48em) {

  .content-grid {
    grid-template-columns:
      [full-start] 1fr
      [col-start] repeat(8, var(--spacing-800)) [col-end]
      1fr [full-end];
  }

  .content-grid > *+* {
    grid-column: col;
  }

  .content-grid > .full-w {
    grid-column: full;
  }

  footer {
    --bg-url: url('./assets/tablet/image-footer.jpg');
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-btns {
    flex-direction: row;
  }
}

@media (min-width: 90em) {

  footer {
    --bg-url: url('./assets/desktop/image-footer.jpg');
    padding: var(--spacing-1400) var(--spacing-1000);
  }
  
  .footer-content {    
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 0;
  }

  .tablet-hero {
    display: none;
  }

  .left-hero,
  .right-hero {
    display: inline-block;
  }

  .hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-400);
    padding: var(--spacing-800) var(--spacing-1000);
  }

  .hero-text > *+* {
    margin-top: var(--spacing-400);
  }

}