:root {
  --clr-cyan-300: #8FE3F9;
  --clr-cyan-600: #4D96A9;
  --clr-purple-300: #D9B8FF;
  --clr-purple-600: #855FB1;
  --clr-slate-300: #D1D1DF;
  --clr-slate-600: #87879D;
  --clr-slate-900: #28283D;
  --clr-white: #FAFAFA;

  --text-1: 4rem;
  --text-2: 2.5rem;
  --text-3: 1rem;
  --text-3-spacing: 4px;
  --text-4: 1.125rem;
  --text-5: 1rem;

  --spacing-50: 4px;
  --spacing-100: 8px;
  --spacing-200: 16px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-700: 56px;
  --spacing-800: 64px;
  --spacing-900: 72px;
  --spacing-1000: 80px;
  --spacing-1400: 112px;

  --hero-bg: rgb(77 150 168 / 0.9);
  --hero-gradient: linear-gradient(var(--hero-bg), var(--hero-bg));
}

*,
*::before,
*::after {
  box-sizing: content-box;
}

h1,
h2,
h3,
p,
body {
  margin: 0;
  padding: 0;
}

body {
  background-origin: var(--clr-white);
  font-family: "Red Hat Display", sans-serif;
  text-align: center;
}

button {
  display: block;
  /* margin: 0 auto; */
  font-family: inherit;
  padding: var(--spacing-200) var(--spacing-500);
  font-weight: 900;
  border-radius: 1.8125rem;
  border: 0;
  line-height: 1.5;
  color: var(--clr-white);
}

.btn-purple {
  background-color: var(--clr-purple-600);
}

.btn-purple span {
  color: var(--clr-purple-300);
}

.btn-green {
  background-color: var(--clr-cyan-600);
}

.btn-green span {
  color: var(--clr-cyan-300);
}

img {
  display: block;
  width: 100%;
}

.left-hero,
.right-hero {
  display: none;
}

.round-sec {
  width: var(--spacing-700);
  height: var(--spacing-700);
  border-radius: 50%;
  border: 1px solid var(--clr-slate-300);
  justify-self: center;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative
}

.round-sec::before {
  content: "";
  width: 0.0625rem;
  height: var(--spacing-1000);
  background-color: var(--clr-slate-300);
  
  position: absolute;
  top: calc(-1 * var(--spacing-1000));
}

.content-grid {
  display: grid;
  grid-template-columns:
    [full-w-start] 1fr
    [content-f-start] repeat(2, var(--spacing-800))
    repeat(2, var(--spacing-800)) [content-f-end]
    1fr [full-w-end];
  gap: var(--spacing-200);
}

.content-grid > * {
  grid-column: content-f;
}

.content-grid > .full-w {
  grid-column: full-w;
}

footer {
  --bg-url: url('./assets/mobile/image-footer.jpg');
  background: 
    var(--hero-gradient),
    var(--bg-url) 0 0 / cover no-repeat;
  padding: var(--spacing-800) var(--spacing-400);
  color: var(--clr-white);

  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
}


@media (min-width: 48em) {

  footer {
    --bg-url: url('./assets/tablet/image-footer.jpg');
  }
}

@media (min-width: 90em) {

  footer {
    --bg-url: url('./assets/desktop/image-footer.jpg');
    padding: var(--spacing-1400) var(--spacing-1000);

    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 0;
  }

  .tablet-hero {
    display: none;
  }

  .left-hero,
  .right-hero {
    display: inline-block;
  }

  .hero {
    display: flex;
    align-items: center;
  }

  .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}